---
layout: default
title: Zürcherischer Synodalverein
---

{% include about.html %}

{% include section-divider.html class="section-divider--two" %}

{% include leitbild.html %}

{% include section-divider.html class="section-divider--three" %}

{% include statements.html %}

{% if site.posts.size > 0 %}
{% include section-divider.html class="section-divider--four" %}

{% include news.html %}
{% endif %}

{% include section-divider.html class="section-divider--five" %}

{% include events.html %}

{% include section-divider.html class="section-divider--six" %}

{% include members.html %}
