<footer class="site-footer">
    <div>
        <h2>Kirche gemeinsam<br>weiterdenken.</h2>
    </div>
    <div class="footer-imprint">
        <p class="footer-imprint-title">Zürcher Synodalverein</p>
        <a href="mailto:kontakt@synodalverein.ch">kontakt@synodalverein.ch</a>
        <p>Rechtsform: Verein gemäss Art. 60 ff. ZGB</p>
        <a href="{{ '/assets/documents/statuten.pdf' | relative_url }}">Statuten</a>
    </div>
    <div class="footer-divider colour-band colour-band--footer" aria-hidden="true"></div>
</footer>
