<header>
    <div class="banner">
        <div class="tags">
            <span class="tag identity position-absolute">Identit&auml;t</span>
            <span class="tag spirituality position-absolute">Spiritualit&auml;t</span>
            <span class="tag responsibility position-absolute">Fairantwortung</span>
            <span class="tag reformation position-absolute">Reform</span>
        </div>

        <div class="title">
            <h1><a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a></h1>
        </div>
    </div>
</header>