body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #c2c2c2;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

header div.banner {
    background-image: url('/assets/svg/background.svg');
    background-size: cover;
    background-position: center top;
    aspect-ratio: 7/4;
    margin: 0;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    position: relative;
}

header .tag {
    text-transform: uppercase;
    font-weight: 50;
    font-size: 8cqw;
}

header .identity {
    color: #DA116F;
    margin: 7cqw 0 0 12cqw;
    z-index: 0;
}

header .spirituality {
    color: #007CB7;
    margin: 12.5cqw 0 0 4cqw;
    z-index: 1;
}

header .responsibility {
    color: #FFFFFE;
    margin: 18cqw 0 0 3cqw;
    z-index: 2;
}

header .reformation {
    color: #A3A421;
    margin: 23.5cqw 0 0 9cqw;
    z-index: 1;
}

header .title {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 1rem 1.5rem;
    background-color: #ffffffaa;
    container-type: inline-size;
}

header .title h1 a {
    color: #1F2656;
    text-decoration: none;
    font-size: 4cqw;
}

section#about {
    background-color: #ffffff;
}

section#about .identity {
    color: #DA116F;
}

section#about .spirituality {
    color: #007CB7;
}

section#about .responsibility {
    color: #1F2656;
}

section#about .reformation {
    color: #A3A421;
}