body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #c2c2c2;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

header div.banner {
    background-image: url('../svg/background.svg');
    background-size: cover;
    background-position: center top;
    aspect-ratio: 7/4;
    margin: 0;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    position: relative;
}

header .tag {
    text-transform: uppercase;
    font-weight: 50;
    font-size: 8cqw;
}

header .identity {
    color: #DA116F;
    margin: 7cqw 0 0 12cqw;
    z-index: 0;
}

header .spirituality {
    color: #007CB7;
    margin: 12.5cqw 0 0 4cqw;
    z-index: 1;
}

header .responsibility {
    color: #FFFFFE;
    margin: 18cqw 0 0 3cqw;
    z-index: 2;
}

header .reformation {
    color: #A3A421;
    margin: 23.5cqw 0 0 9cqw;
    z-index: 1;
}

header .title {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 1rem 1.5rem;
    background-color: #ffffffaa;
    container-type: inline-size;
}

header .title h1 a {
    color: #1F2656;
    text-decoration: none;
    font-size: 4cqw;
}

section {
    padding: 1.5rem;
}

section#about {
    background-color: #ffffff;
}

section#about .identity {
    color: #DA116F;
}

section#about .spirituality {
    color: #007CB7;
}

section#about .responsibility {
    color: #1F2656;
}

section#about .reformation {
    color: #A3A421;
}

section#statements {
    background-color: #BFCA67;
}

section#statements .card-img {
    margin: 1rem 0 0 1rem;
}

section#statements .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#statements .card-text {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

section#statements .card-name {
    margin: 0;
}

section#statements .card-date {
    font-size: 0.9rem;
    color: #888;
}

section#board {
    background-color: #5F264C;
}

section#board h1 {
    color: #d8d8d8;
}

/* General Styles for Board Members */
.board-member-large,
.board-member-small {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.board-member-large img,
.board-member-small img {
    border-radius: 10px;
}

/* Overlay Styles */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* President Specific Styles */
.board-member-large .overlay h3 {
    font-size: 1.5rem;
    margin: 0;
}

.board-member-large .overlay p {
    font-size: 1.1rem;
    margin: 0;
}

/* Members Specific Styles */
.board-member-large:hover .overlay,
.board-member-small:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.board-member-small .overlay h5 {
    font-size: 1.1rem;
    margin: 0;
}

.board-member-small .overlay p {
    font-size: 0.9rem;
    margin: 0;
}