body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #c2c2c2;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

header div.banner {
    background-image: url('../svg/header.svg');
    background-size: cover;
    background-position: center top;
    aspect-ratio: 7/4;
    margin: 0;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    position: relative;
}

header div.minimal-banner {
    background-image: url('../svg/header.svg');
    background-size: cover;
    background-position: center top;
    aspect-ratio: 7/1.5;
    margin: 0;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    position: relative;
}

header .tag {
    text-transform: uppercase;
    font-weight: 50;
    font-size: 8cqw;
}

header .identity {
    color: #DA116F;
    margin: 7cqw 0 0 12cqw;
    z-index: 0;
}

header .spirituality {
    color: #007CB7;
    margin: 12.5cqw 0 0 4cqw;
    z-index: 1;
}

header .responsibility {
    color: #FFFFFE;
    margin: 18cqw 0 0 3cqw;
    z-index: 2;
}

header .reformation {
    color: #A3A421;
    margin: 23.5cqw 0 0 9cqw;
    z-index: 1;
}

header .title {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 1rem 1.5rem;
    background-color: #ffffffaa;
    container-type: inline-size;
}

header .title h1 a {
    color: #1F2656;
    text-decoration: none;
    font-size: 4cqw;
}

section {
    padding: 1.5rem;
}

section#about {
    background-color: #ffffff;
}

section#about .identity {
    color: #DA116F;
}

section#about .spirituality {
    color: #007CB7;
}

section#about .responsibility {
    color: #1F2656;
}

section#about .reformation {
    color: #A3A421;
}

section#statements {
    background-color: #BFCA67;
}

section#statements .card-img {
    margin: 1rem 0 0 1rem;
}

section#statements .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#statements .card-text {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

section#statements .card-name {
    margin: 0;
}

section#statements .card-date {
    font-size: 0.9rem;
    color: #888;
}

section#members {
    background-color: #5F264C;
}

section#members h1 {
    color: #d8d8d8;
}

/* General Styles for Board Members */
.board-member-large,
.board-member-small {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.board-member-large img,
.board-member-small img {
    border-radius: 10px;
}

/* Overlay Styles */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    /*opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;*/
}

/* President Specific Styles */
.board-member-large .overlay h3 {
    font-size: 1.5rem;
    margin: 0;
}

.board-member-large .overlay p {
    font-size: 1.1rem;
    margin: 0;
}

/* Members Specific Styles */
.board-member-large:hover .overlay,
.board-member-small:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.board-member-small .overlay h5 {
    font-size: 1.1rem;
    margin: 0;
}

.board-member-small .overlay p {
    font-size: 0.9rem;
    margin: 0;
}

section#news {
    background-color: #B7160D;
}

section#news h1 {
    color: #ededed;
}

.post {
    background-color: #FFFFFE;
    padding: 1rem 0 1rem 0;
}

section#news .btn {
    color: #FFFFFE;
    background-color: #8F1D10;
}

section#news h3 a {
    text-decoration: none;
    color: #000000;
}

section#events {
    background-color: #4A8EB3;
}

/* Event Year Heading */
section#events .event-year {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

/* Year Separator (Thicker) */
section#events .year-separator {
    border-top: 2px solid #000;
    margin: 10px 0;
}

/* Month Separator (Thinner) */
section#events .month-separator {
    border-top: 1px solid #000;
    margin: 5px 0;
}

/* Month Heading */
section#events .event-month {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

/* Event Day */
section#events .event-day {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

/* Event Time */
section#events .event-time {
    font-size: 1rem;
}

/* Event Details */
section#events .event-details {
    flex-grow: 1;
    padding-left: 10px;
}

section#events .event-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 5px;
}

section#events .event-description {
    font-size: 1rem;
    margin-bottom: 5px;
}

section#events .event-location {
    color: #444;
}

section#events .event-location a {
    color: #444;
    text-decoration: none;
}

section#events .event-location a:hover {
    text-decoration: underline;
}

/* Adjust column alignments */
section#events .year-col {
    text-align: left;
}

section#events .month-col {
    text-align: left;
}

section#events .date-col {
    text-align: left;
    padding-left: 10px;
}

section#events .btn {
    color: #FFFFFE;
    background-color: #356680;
}

.blog-post {
    background-color: #FFFFFE;
}

footer div.row {
    background-color: #FFFFFE;
    padding: 1rem;
    margin: 0;
}

footer div.row a {
    text-decoration: none;
}

footer div.banner {
    background-image: url('../svg/footer.svg');
    background-size: cover;
    background-position: center top;
    margin: 0;
    height: 20px;
}

footer div.links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}