<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | relative_url }}">
    <link rel="icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}" type="image/x-icon">
</head>

<script>
    function closeSplash() {
        document.getElementById('splash-overlay').style.display = 'none';
    }
</script>

<body>
    <!-- SPLASH OVERLAY -->
    <div id="splash-overlay" class="splash-overlay">
        <div class="content">
            <h1 class="main-title">Synodalverein</h1>
            <h2 class="subtitle">GLANZ & GLORIA</h2>
        </div>
        <button class="close-btn" onclick="closeSplash()">×</button>
        <svg id="x0" width="100" height="100" viewBox="0 0 100 100">
            <g id="copy-1" class="group">
                <g class="large">
                    <path id="large"
                        d="M41.25,40 L42.5,10 L43.75,40 L45,41.25 L75,42.5 L45,43.75 L43.75,45 L42.5,75 L41.25,45 L40,43.75 L10,42.5 L40,41.25z"
                        fill="white" />
                </g>
                <g class="large-2" transform="rotate(45)">
                    <use xlink:href="#large" />
                </g>
                <g class="small">
                    <path id="small"
                        d="M41.25,40 L42.5,25 L43.75,40 L45,41.25 L60,42.5 L45,43.75 L43.75,45 L42.5,60 L41.25,45 L40,43.75 L25,42.5 L40,41.25z"
                        fill="white" />
                </g>
            </g>
        </svg>

        <svg id="x0" width="144" height="144" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x1" width="173" height="173" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x2" width="172" height="172" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x3" width="84" height="84" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x4" width="42" height="42" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x5" width="96" height="96" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x6" width="155" height="155" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x7" width="12" height="12" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x8" width="145" height="145" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x9" width="145" height="145" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x10" width="167" height="167" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x11" width="198" height="198" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x12" width="137" height="137" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x13" width="138" height="138" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x14" width="129" height="129" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x15" width="155" height="155" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x16" width="114" height="114" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x17" width="7" height="7" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x18" width="115" height="115" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x19" width="199" height="199" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x20" width="43" height="43" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x21" width="168" height="168" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x22" width="196" height="196" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x23" width="33" height="33" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x24" width="70" height="70" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x25" width="127" height="127" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x26" width="116" height="116" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x27" width="71" height="71" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x28" width="135" height="135" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x29" width="103" height="103" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x30" width="184" height="184" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x31" width="181" height="181" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x32" width="21" height="21" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x33" width="36" height="36" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x34" width="83" height="83" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x35" width="98" height="98" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x36" width="52" height="52" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x37" width="71" height="71" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x38" width="71" height="71" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x39" width="122" height="122" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x40" width="105" height="105" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x41" width="159" height="159" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x42" width="63" height="63" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x43" width="154" height="154" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x44" width="136" height="136" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x45" width="200" height="200" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x46" width="25" height="25" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x47" width="191" height="191" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x48" width="144" height="144" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x49" width="28" height="28" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x50" width="61" height="61" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x51" width="87" height="87" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x52" width="87" height="87" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x53" width="119" height="119" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x54" width="169" height="169" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x55" width="124" height="124" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x56" width="187" height="187" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x57" width="38" height="38" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x58" width="25" height="25" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x59" width="68" height="68" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x60" width="195" height="195" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x61" width="34" height="34" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x62" width="24" height="24" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x63" width="181" height="181" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x64" width="23" height="23" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x65" width="142" height="142" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x66" width="170" height="170" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x67" width="27" height="27" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x68" width="59" height="59" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x69" width="165" height="165" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x70" width="95" height="95" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x71" width="18" height="18" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x72" width="153" height="153" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x73" width="199" height="199" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x74" width="69" height="69" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x75" width="142" height="142" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x76" width="53" height="53" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x77" width="134" height="134" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x78" width="121" height="121" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x79" width="6" height="6" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x80" width="86" height="86" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x81" width="195" height="195" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x82" width="106" height="106" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x83" width="27" height="27" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x84" width="147" height="147" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x85" width="141" height="141" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x86" width="158" height="158" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x87" width="200" height="200" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x88" width="156" height="156" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x89" width="79" height="79" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x90" width="17" height="17" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x91" width="60" height="60" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x92" width="168" height="168" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x93" width="176" height="176" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x94" width="60" height="60" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x95" width="136" height="136" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x96" width="147" height="147" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x97" width="171" height="171" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x98" width="91" height="91" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>

        <svg id="x99" width="126" height="126" viewBox="0 0 100 100">
            <use xlink:href="#copy-1" />
        </svg>
    </div>
    <!-- SPLASH OVERLAY -->

    <div class="container-md">
        {% include header.html %}
        <main>
            {{ content }}
        </main>
        {% include footer.html %}
    </div>
</body>

</html>